include README.md
include LICENSE
include pyproject.toml
recursive-include fast_app *.py
include fast_app/py.typed
recursive-include fast_app/templates *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.pyo